---
import Layout from "../components/Layout.astro";
---

<Layout title="Error 404" desc="">
  <main>
    <h1><strong>Error 404</strong></h1>
    <h1>How'd you end up here?</h1>
    <h2>
      Report a missing page <a href="https://github.com/Abban-Fahim/abban-fahim.github.io/issues">here</a>
    </h2>
  </main>
</Layout>
